* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #471F1F, #6E3030);
}

header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #471F1F, #6E3030);
  color: white;
  padding: 0 1rem;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.5rem;
}

#mainContent {
  height: 50vh;
  padding: 2rem;
  margin: 0 auto;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #471F1F, #6E3030);
  font-family: 'Arial', sans-serif;
}
#countdown {
  background-color: rgba(255, 255, 255, 0.1); /
  padding: 1rem;
  margin: 1rem auto;
  max-width: 400px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#timer {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem;
}

footer {
  height: 5vh;
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2.5rem;
}
#showDestinations {
  background-color: #6E3030;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

#showDestinations:hover {
  background-color: #471F1F;
  transform: scale(1.05);
}

#showDestinations:active {
  transform: scale(0.95);
}


